<form enctype="multipart/form-data" method="post">
    <div id="userform" class="userform">
        <div class="step">
            <b>step 1.</b>
            Upload the image to create a mosiac for.
            <br>
            <input type="file" name="imagefile"><input type="submit" value="upload image">
        </div>
        <div class="step">
            <b>step 2.</b>
            Choose a theme to create photo-mosiac from.
            <br>
            mosiac theme 
            <select name="mosiactheme">
                <option>models</option>
                <option>cars</option>
                <option>people</option>
                <option>flowers</option>
            </select>
        </div>
        <div class="step">
            <b>step 3.</b>
            Please wait while I create your mosiac.
            <br>
        </div>
        <div style="margin-top: 50px;" class="tryit">
            <h2>Questions? <a href="faq.html">Answers</a></h2>
        </div>
    </div>
</form>
