<div id="footer">
    <div style="float: right; font-size: 11px;">
        <a id="feedback_anchor" onclick="return false;" href="#"><b>Send Feedback</b></a>
    </div>
    <div id="subnav">
        <ul>
            <li>
                <a href="http://gopi.org">gopi!</a>
            </li>
            <li>
                <a href="http://blog.gopi.org">blog</a>
            </li>
            <li>
                <a href="http://gopi.org/projects">projects</a>
            </li>
            <li class="last">
                <a href="http://gopi.org/about">about gopi</a>
            </li>
        </ul>
    </div>
    <br class="clearboth"/>
</div>
