<div id="bandar_logo">
    <img height="177" border="0" width="172" src="/images/3bandar_logo.png"/>
</div>
<div id="topnav">
    <div id="topnavlink">
        <div id="subnav">
            <ul>
                <li>
                    <b><span class="footercolorlink">create photo-mosiac</span></b>
                </li>
                <li class="last">
                    <a href="/">mosiac gallery</a>
                </li>
            </ul>
        </div>
        <br class="clearboth"/>
    </div>
    <div class="status-msg">
        <span>x{{ nos_of_resumes }} photomosiacs created so far</span>
        <span class="brainstorm-logo">photomosiac.gopi.org</span>
    </div>
</div>
